@if (!isLoading) {
   @for (item of posts; track $index) {
   <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
         <mat-panel-title> {{item.title}} </mat-panel-title>
      </mat-expansion-panel-header>
      <img [src]="item.imagePath" [alt]="item.title">
      <p>{{item.content}}</p>
      <mat-action-row>
         <a mat-flat-button [routerLink]="['/edit',item.id]">EDIT</a>
         <button mat-button style="background-color: rgb(255, 0, 0); color: aliceblue;" (click)="onDelete(item.id)">
            DELETE</button>
      </mat-action-row>
   </mat-expansion-panel>

   }@empty {
   <p style="text-align: center;">no content available</p>
   }
      <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" aria-label="Select page" (page)="onChangedPAge($event)">
      </mat-paginator>

}@else {
<mat-spinner></mat-spinner>
}