<mat-card>
   @if (!isLoading) {
   <form (submit)="onSavePost()" [formGroup]="form">
      <mat-form-field>
         <input type="text" matInput formControlName="title" placeholder="Post Title">
      </mat-form-field>
      @if (form.get('title').invalid && form.get('title').touched) {
      <mat-error>
         please enter a post title
      </mat-error>
      }

      <div>
         <button mat-button type="button" (click)="filePicker.click()">pick image</button>
         <input type="file" style="display: none;" #filePicker (change)="onImagePicked($event)">
      </div>

      @if (imagePreview && imagePreview!=="" && form.get('image').valid) {
         <div>
            <img [src]="imagePreview" alt="">
         </div>
      }
      <mat-form-field>
         <textarea matInput formControlName="content" placeholder="Post Content"></textarea>
      </mat-form-field>
      @if (form.get('content').invalid && form.get('content').touched ) {
      <mat-error>please enter a post content</mat-error>
      }

      <button mat-flat-button type="submit">
         add post </button>
   </form>
   }@else {
   <mat-spinner></mat-spinner>

   }
</mat-card>